@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(45,85,147);
  background: linear-gradient(180deg, rgba(45,85,147,1) 0%, rgba(99,149,189,1) 38%, rgba(117,170,200,1) 70%, rgba(142,200,217,1) 100%);
  @apply text-white text-[1.5vw];
}

.loader {
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid currentColor;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
